span{ font-family:'Arial', 'Helvetica', 'sans-serif','宋体'}
h1,#general,#content{font-family: 'Microsoft Himalaya',藏研柏簇体,藏研簇玛丘体,藏研乌金体,藏研珠擦体;}
h1 {
	font-size: 30px;
}
/*Css中ID的定义*/
#jieshao{
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	}
#general {
	font-size: 20px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
#content{font-size: 25px;}