@font-face {
	font-family: 'CTRCUchenRegular';
	src: url('../webfonts/ctrc-uchen-webfont.eot');
	src: local('CTRCUchen Regular'), url('../webfonts/ctrc-uchen-webfont.woff') format('woff'), url('../webfonts/ctrc-uchen-webfont.ttf') format('truetype'), url('../webfonts/ctrc-uchen-webfont.svg#webfontbaALxtEx') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'CTRCUchenRegular';
	font-size:20px;
}